page-about {
    p {
        font-size: 1.6rem;
        color: #555;
        line-height: 2.3rem;
    }

    em {
        font-style: normal;
        font-weight: bold;
        color: #333;
        line-height: 2rem;
    }

    a {
        display: inline-block;
        padding: 0px 8px;
        color: #333;
        background-color: map-get($colors, primary);
        text-decoration: none;
        border-radius: 4px;
        border-bottom: 2px solid #333;
    }

    .split {
        height: 1rem;
        width: 100%;
    }

    .list-ios > .item-block {
        border: 0 !important;
        padding-left: 0;

        .item-inner {
            padding-right: 0;
        }
    }

    #version-info {
        color: #aaa;
        margin: 0;

        button {
            padding: 1.2rem;
        }
    }
}
