page-about {
    p, .card-md p {
        font-size: 1.4rem;
        color: #555;
        line-height: 2.3rem !important;
        margin: 0 0 1rem 0 !important;
    }

    em {
        font-style: normal;
        font-weight: bold;
        color: #333;
        line-height: 2rem;
    }

    a {
        display: inline-block;
        padding: 0px 8px;
        color: #333;
        background-color: map-get($colors, primary);
        text-decoration: none;
        border-radius: 4px;
        border-bottom: 2px solid #333;
    }

    .split {
        height: 1rem;
        width: 100%;
    }

    .list-ios > .item-block {
        border: 0 !important;
        padding-left: 0;

        .item-inner {
            padding-right: 0;
        }
    }

    .item-md {
        padding-left: 0;
    }

    #version-info {
        color: #555;

        button {
            padding: 1.2rem;
        }

        ion-label, .item-ios [item-right] {
            margin: 0;
        }
    }

    #rate-item {
        text-align: center;
    }
}
