page-home {
    .scroll-content {
        overflow-y: hidden;
    }

    canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
