page-home {
    .scroll-content {
        overflow-y: hidden;
    }

    .touch-toast {
        text-align: center;
        width: auto;
    }

    button {
        background-color: transparent;
        font-size: 1.8rem;
    }

    .tear-off {
        animation: tearOff 0.8s forwards;
        transform-origin: 0 0;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
    }

    @keyframes tearOff {
        50% {
            transform: translateY(0) rotate(5deg);
        }
        100% {
            transform: translateY(100%);
        }
    }
}
