// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$distance-md: 20px;
$distance-sm: 10px;

$toast-width: 90%;
ion-toast {
  left: (100% - $toast-width) / 2 !important;
  top: (100% - $toast-width) / 2 !important;
  text-align: center;
}


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FFE06E,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$clr-txt-md: #ccc;
$clr-txt-light: #ddd;
$clr-txt-lighter: #eee;
$clr-txt-lightest: #fff;

$list-border-color: #eee;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$item-ios-body-text-font-size: 1.5rem;
$toast-ios-background: rgba(0, 0, 0, 0.7);
$alert-ios-button-text-color: #555;
$toolbar-ios-title-text-color: #333;

.header-ios {
  &#home-header {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); // TODO: shadow according to page index
  }

  .toolbar-ios:last-child .toolbar-background-ios {
    border-bottom: 0;
  }
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$list-md-border-color: $list-border-color;
$button-md-box-shadow: none;
$button-md-border-radius: 4px;
$toolbar-md-title-text-color: #333;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
