page-history {
    .pageImage {
        position: absolute;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
    }

    .back-btn {
        z-index: 100;
        position: absolute;
        padding: 15px;
    }
}
