// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-list {
    .label-ios {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.menu-title {
    position: relative;
    top: 2px;
    height: 16px;
}

.menu-title-h1 {
    position: relative;
    top: 2px;
    height: 20px;
}

.menu-header {
    border-bottom: $hairlines-width solid #ddd;
}

ion-header {
    button {
        color: #888;
    }
}

.toolbar-ios ion-title {
    padding: 0 0 1px 0;
}

h2 {
    font-size: 1.8rem;
}

.full-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back-btn-img {
    z-index: 100;
    position: absolute;
    padding: 10px 5px;

    img {
        height: 16px;
    }
}

.navbar-btn {
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1.8rem;
}

.title-btn {
    position: relative;
    top: 2px;
}

.button-bottom {
    border-bottom: 2px solid #333;
}
