page-font {
    .desc, .detail {
        line-height: 1.6rem;
    }

    .desc {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: #555;
    }

    .detail {
        color: #888;
        position: relative;
        top: -30px;
    }
}
